<!doctype html>
<html>
<head>
<title>Payment Show</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />    
<link href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body >



<div class="container" >
    <div class="row" style="padding:50px;">
        <p><h1>Payment Show</h1></p>
        <div >
            <table id='invoiceTable' class='display dataTable' width='100%'>
                <thead>
                <tr>
                    <th>payment_id</th>
                    <th>payment_date</th>
                    <th>payment_status</th>
                    <th>payment_type</th>
                    <th>record_id</th>


                </tr>
                </thead>
                 
            </table>
        </div>
   </div>
</div>
<script>
$(document).ready(function() {
 
  
    var invoiceDataTable = $('#invoiceTable').DataTable({
                dom: 'Bfrtip',
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'/paymentShow'
                },
                'lengthMenu': [[10, 25, 50, 100], [10, 25, 50, 100]],
                searching: true,
                sort: true,
                "serverSide": true,
                'columns': [
                { name: 'payment_id', data: 'payment_id', "orderable": true },
                { name: 'payment_date', data: 'payment_date', "orderable": true },
                { name: 'payment_status', data: 'payment_status', "orderable": true },
                { name: 'payment_type', data: 'payment_type', "orderable": true },
                { name: 'card_no', data: 'card_no', "orderable": true },

                ]
            });
 
});
 
</script>

</body>
</html>